@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
.home{
    margin-left: 120px;
    margin-top: 120px;
}

.titulo{
    font-family: Red Hat Display;
    width: 580px;
    font-size: 48px;
    line-height: 64px;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #062847;

    padding: 0;
}

.sub-titulo{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */


    color: #5A6774;

    width: 612px;
}